{% extends 'base.html.twig' %}
{% block body %}
{# (id, nom, prénom, téléphone) #}
<br>
<br>
<h1>LISTE DES CONTACTS</h1>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Téléphone</th>
        <th scope="col">adresse</th>
        <th scope="col">ville</th>
        <th scope="col">age</th>

        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for contact in contacts %}
    <tr>
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.nom}}</td>
        <td>{{contact.prenom}}</td>
        <td>{{contact.telephone}}</td>
        <td>{{contact.adresse}}</td>
        <td>{{contact.ville}}</td>
        <td>{{contact.age}}</td>

        <td>
        <a href="{{ path('contact', {id: contact.id}) }}" type="button" class="btn btn-success">Afficher</a>
        <a href="{{ path('contact-edit', {id: contact.id})}} " type="button" class="btn btn-warning">Modifier</a>
        </td>
    </tr>
   {% endfor %}

  </tbody>
</table>
{% endblock %}
